body > div {
  font-family: 'Reem Kufi', sans-serif;
}

.backgroundPoster {
  z-index: -1;
  height: 87vh;
  width: 100%;
  position: absolute;
  filter: grayscale(100%) blur(1px) opacity(80%) brightness(80%);
  object-fit: cover;
  object-position: center;
}

.posterTrailer {
  display: flex;
  height: 87vh;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.titreVote {
  font-size: 4vh;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5vh;
}

.fufu {
  display: flex;
  flex-direction: row;
  font-size: 3vh;
  width: 8.75vw;
}

.starScore {
  /* width: 8.75vw; */
  height: 4vh;
}

.numberVote {
  font-size: 2vh;
  margin-left: 3px;
  margin-top: 5px;
}

.details {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 0 2vw 2vw 2vw;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posterAndOverwiew {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 62.5vw;
}

.buttons {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vote {
  align-self: flex-end;
}

.poster {
  height: 60vh;
}

.buttonAdd {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: relative;
  display: none;
}

.buttonTrailer {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  display: none;
}

.overview {
  font-size: 25px;
  background-color: rgba(8, 7, 7, 0.219);
  border-radius: 10px;
  overflow-y: auto;
  height: 35vh;
  padding: 5px;
}

.genresOverview {
  font-size: 25px;
  color: #fff;
  width: 30vw;
  padding-top: 10px;
  margin-right: 1vw;
}

.directorTimeDate {
  font-size: 25px;
  width: 30vw;
}

.actors {
  display: flex;
  justify-content: center;
  text-align: center;
}

.actors > div img {
  width: 225px;
  height: 348px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.actors > div {
  margin: 40px;
}

.actors > div p {
  font-size: 17px;
  background: #000;
  background:
    -moz-linear-gradient(
      top,
      rgb(0, 0, 0, 0.5) 0%,
      #eee8ec 20%,
      #fff 100%
    );
  background:
    -webkit-linear-gradient(
      top,
      rgb(0, 0, 0, 0.5) 0%,
      #eee8ec 20%,
      #fff 100%
    );
  background:
    linear-gradient(
      to bottom,
      rgb(0, 0, 0, 0.5) 0%,
      #eee8ec 20%,
      #fff 100%
    );
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: white;
  width: 225px;
}

.actors > div img:hover {
  transform: scale(1.31);
  border: 1.2mm ridge #facc4d;
}

.actors > div span {
  font-weight: bold;
}

@media screen and (max-width: 390px) {
  .movieResume {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
  }

  .backgroundPoster {
    display: none;
  }

  .posterTrailer {
    display: flex;
    flex-direction: row;
    padding-top: 8vh;
    height: auto;
  }

  .actors {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .details {
    display: flex;
    flex-direction: column;
  }

  .actors > div p {
    margin-left: 88px;
    width: 193px;
  }

  .actors > div img {
    width: 193px;
    height: 241px;
  }

  .actors > div {
    margin: 2px;
  }

  .posterAndOverwiew {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100vw;
  }

  .titreVote {
    font-size: 4vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 5vh;
  }

  .directorTimeDate {
    display: flex;
    font-size: 25px;
  }

  .overview {
    font-size: 25px;
    background-color: rgba(8, 7, 7, 0.219);
    border-radius: 10px;
    overflow-y: auto;
    height: 35vh;
    padding: 5px;
  }

  .genresOverview {
    font-size: 25px;
    color: #fff;
    width: 90vw;
  }
}
