body {
  background-color: goldenrod;
}

body > div {
  font-family: 'Reem Kufi', sans-serif;
}

img {
  width: 425px;
  height: 518px;
}

.posterTrailer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}

.poster
{
  margin-left: 90px;
  margin-right: 40px;
}

.backgroundPoster
{
  z-index: -1;
  width: 100%;
  height: 518px;
  position: absolute;
  opacity: 0.5;
}

.backgroundPoster > img
{
  -webkit-box-shadow: inset 0px 2px 50px 13px #000000; 
  box-shadow: inset 0px 2px 50px 13px #000000;
}

.buttonAdd
{
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-right: -60px;
}

.buttonTrailer 
{
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-top: 330px;
  margin-right: 5px;
}


.overview {
  font-size: 25px;
  text-align: left;
  margin-top: 10px;
  margin-right: 30%;
  width: 60%;
}

.titreVote {
  font-size: 43px;
  display: flex;
  justify-content: space-between;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 20px;
  align-items: center;
}

.genresOverview {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 55px;
  margin-bottom: 30px;
}

.genres {
  display: flex;
  flex-direction: row;
}

.genres > p {
  padding-top: 100px;
  padding-right: 20px;
}

.directorTimeDate {
  font-size: 25px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  width: 100%;
}

.directorTimeDate > p
{
  
  padding-right: 10px;
  width: 200px;
}

.actors {
  display: flex;
  justify-content: center;
  text-align: center;
}

.actors > div img {
  width: 225px;
  height: 348px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.actors > div {
  margin: 40px;
}

.actors > div p {
  font-size: 17px;
  background: #000;
  background: -moz-linear-gradient(top, rgb(0, 0, 0, 0.5) 0%, #eee8ec 20%, #fff 100%);
  background: -webkit-linear-gradient(top, rgb(0, 0, 0, 0.5) 0%, #eee8ec 20%, #fff 100%);
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.5) 0%, #eee8ec 20%, #fff 100%);
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: white;
  margin-top: -5px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 225px;
}

.actors > div img:hover {
  -webkit-transform: scale(1.31);
  -moz-transform: scale(1.31);
  -ms-transform: scale(1.31);
  -o-transform: scale(1.31);
  transform: scale(1.31);
  border: 1.2mm ridge #facc4d;
}

.actors > div span {
  font-weight: bold;
}

.starScore {
  width: 174px;
  height: 32px;
}

.numberVote {
  font-size: 15px;
  margin-left: 3px;
  margin-top: 5px;
}
@media screen and (max-width: 1920px )
{
.poster
{
  margin-left: 90px;
  margin-right: 5px;
}

.buttonTrailer 
{
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: -59px;
}

.buttonAdd
{
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-right: -59px;
  margin-top: 360px;
}
}

@media screen and (max-width: 390px) {
  .titreVote {
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .posterTrailer {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
  }

  .posterTrailer > img {
    margin-bottom: 25px;
    margin-left: 25%;
    width: 48%;
    height: 48%;
  }
  .backgroundPoster
  {
    display: none;
  }
  .buttons
  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 60px;
  }
  .buttonTrailer {
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .buttonAdd{
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-top: 40px;;
  }
  .vote {
    font-size: 18px;
  }

  .directorTimeDate {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .directorTimeDate > p
  {
    margin-left: -50%;
    padding-right: 10px;
    padding-bottom: 20px;
    width: 200px;
  }

  .genresOverview {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    margin-bottom: 30px;
  }

  .genres {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -40px;
  }

  .genres > p {
    padding-right: 25px;
    padding-top: 10px;
  }

  .overview {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    width: 70%;
  }

  .actors {
    flex-direction: column;
  }

  .actors > div p {
    margin-left: 88px;
    width: 193px;
  }

  .actors > div img {
    width: 193px;
    height: 241px;
  }

  .actors > div {
    margin: 2px;
  }
}
