.watchCard {
  display: flex;
  flex-direction: row;
}

.watchImg {
  width: 70vw;
  height: 300px;
  overflow: hidden;
  filter: blur(0) opacity(100%) brightness(100%);
  object-fit: cover;
  object-position: center;
}

.watchImg:hover {
  opacity: 0.5;
}

.deleteButton {
  width: 500px;
}

.ticket img {
  height: 120px;
}
