.searchBar {
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 60vw;
  opacity: 70%;
  border-radius: 10px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: %;
}

.results {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 12vh;
}

.results li {
  list-style: none;
  margin: 12px;
  height: 380px;
  width: 220px;
}

/* Responsive */

@media screen and (max-width: 600px) {
  .searchBar {
    width: 40vw;
    height: 8vh;
    font-size: 18px;
  }

  .results li {
    list-style: none;
    height: 190px;
    width: 150px;
  }

  .results {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 6vh;
  }
}
