.searchBar {
  display: inline-block;
  text-align: center;
  margin-top: 70vh;
  margin-left: 20vw;
  height: 30px;
  width: 60vw;
  opacity: 70%;
  border-radius: 10px;
}

.results {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 12vh;
}

.results li {
  list-style: none;
  margin: 12px;
  height: 380px;
  width: 220px;
}

/* Responsive */
@media screen and (min-width: 600px) {
  .searchBar {
    width: 40vw;
    height: 8vh;
    margin-left: 30vw;
    font-size: 18px;
  }
}
