/* Removing Navbar on mobile */
.navbar {
  display: none;
}

/* Burger menu module style */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
  border-radius: 9999px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #fff;
  padding: 0.8em;
  font-family: 'Reem Kufi', sans-serif;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 600px) {
  /* Desktop style */
  .navbar {
    height: 10vh;
    width: 100vw;
    background: rgba(196, 196, 196, 0.2);
    display: flex;
    align-items: center;
    flex-flow: row, nowrap;
    justify-content: space-between;
  }

  .logo {
    font-family: 'Reem Kufi', sans-serif;
    font-weight: normal;
    font-size: 8vh;
    line-height: 135px;
    color: #000;
    margin-left: 1vw;
  }

  .logo:hover {
    transform: scale(1.03);
  }

  .navlink {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 3.5vh;
    line-height: 60px;
    color: #fff;
    margin-right: 8vw;
  }

  /* Removing Burger menu from Desktop  */
  .bm-burger-button {
    display: none;
  }
}
