.popMovieImg {
  width: 230px;
  height: 350px;
  margin: 40px;
  margin-bottom: 10vh;
}

.imgContain {
  display: flex;
  justify-content: center;
}

/* -------------------MQ----------------- */

@media (min-width: 800px) {
  .popMovieImg {
    width: 320px;
    height: 500px;
    margin: 80px;
    margin-bottom: 13vh;
  }

  .imgContain {
    display: flex;
    justify-content: center;
  }
}
