.footer {
  display: flex;
  bottom: 0;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.39);
  color: white;
  height: 19vh;
  width: 100vw;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wildAndSons,
.creditsLink {
  color: white;
  text-decoration-line: none;
}

.keepnBloc {
  display: flex;
  flex-direction: row;
}

.keepnTeam {
  line-height: 22px;
}

@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    height: 9vh;
    width: 100vw;
    font-size: 17px;
  }

  .githubTeam {
    display: none;
  }

  .githubProject {
    display: visible;
  }
}

/* ---------------DESKTOP VERSION ----------------------- */

@media screen and (min-width: 600px) {
  .githubProject {
    display: none;
  }

  .githubLogo {
    height: 40px;
    width: 40px;
  }
}
