.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1vw;
  padding: auto;
  background-color: rgba(196, 196, 196, 0.2);
  color: white;
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  font-size: 4vw;
  text-shadow: 1px 1px 1px wheat;
}

@media screen and (min-width: 600px) {
  .footer {
    font-size: 2vw;
  }
}
